# **HW01 - find public API**

In [ ]:
# API get request
import pandas as pd
from requests import get
#import requests as req
from time import sleep

nums = list(range(1, 6))

result = []

for i in nums:
    url = f"http://acnhapi.com/v1a/villagers/{i}"
    response = get(url)
    data = response.json()
    row = [
        data["id"],
        data["name"]["name-USen"],
        data["personality"],
        data["species"],
        data["gender"],
        data["hobby"],
        data["catch-phrase"]
    ]
    result.append(row)
    sleep(1)

result

[[1, 'Cyrano', 'Cranky', 'Anteater', 'Male', 'Education', 'ah-CHOO'],
 [2, 'Antonio', 'Jock', 'Anteater', 'Male', 'Fitness', 'honk'],
 [3, 'Pango', 'Peppy', 'Anteater', 'Female', 'Fashion', 'snooooof'],
 [4, 'Anabelle', 'Peppy', 'Anteater', 'Female', 'Fashion', 'snorty'],
 [5, 'Snooty', 'Snooty', 'Anteater', 'Female', 'Education', 'sniffff']]

In [ ]:
df = pd.DataFrame(result, columns=["id", "name(eng)", "personality", "species", "gender", "hobby", "catch-phrase"])
df

   id name(eng) personality   species  gender      hobby catch-phrase
0   1    Cyrano      Cranky  Anteater    Male  Education      ah-CHOO
1   2   Antonio        Jock  Anteater    Male    Fitness         honk
2   3     Pango       Peppy  Anteater  Female    Fashion     snooooof
3   4  Anabelle       Peppy  Anteater  Female    Fashion       snorty
4   5    Snooty      Snooty  Anteater  Female  Education      sniffff

# **HW02 - Build other model**

In [ ]:
# sklearn = machine learning most popular python
# template in sklearn to train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd

mtcars = pd.read_csv("https://gist.githubusercontent.com/seankross/a412dfbd88b3db70b74b/raw/5f23f993cd87c283ce766e7ac6b329ee7cc2e1d1/mtcars.csv")

mtcars.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
# prepare 50-80%
# mpg = f(hp, wt, am)
X = mtcars[ ["hp", "wt", "am"] ]
y = mtcars[ "mpg" ]

In [ ]:
# split data
# 80 : 20
X_train, X_text, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [ ]:
# train model
model_linear = LinearRegression()
model_decis = DecisionTreeRegressor()
model_ranfor = RandomForestRegressor()
model_linear.fit(X_train, y_train)
model_decis.fit(X_train, y_train)
model_ranfor.fit(X_train, y_train)

# test model/ scoring
pred_linear = model_linear.predict(X_text)
pred_decis = model_decis.predict(X_text)
pred_ranfor = model_ranfor.predict(X_text)

def regression_metrics(y, pred_model):
    # MAE mean absolue error
    mae = np.mean(np.absolute((y - pred_model)))
    # MSE
    mse = np.mean((y - pred_model) ** 2)
    # RMSE
    rmse = np.sqrt(np.mean(y - pred_model) ** 2)
    return mae, mse, rmse

linear_model = regression_metrics(y_test, pred_linear)
decision_model = regression_metrics(y_test, pred_decis)
random_model = regression_metrics(y_test, pred_ranfor)

In [ ]:
model_df = pd.DataFrame([linear_model, decision_model, random_model], ["LinearRegression", "DecisionTree", "RandomForest"], ["MAE", "MSE", "RMSE"])
model_df

                       MAE       MSE      RMSE
LinearRegression  2.071012  7.319771  1.679513
DecisionTree      2.471429  9.610000  2.014286
RandomForest      2.218429  9.596128  1.736714